body {
	background: #fefefe;
	color: #333;
}

.mainHeader {
	color: #00487c;
}

.sectionHeader, .diaryHeader {
	color: #1460aa;
}

p {
	color: darkblue;
}

.postHeader {
	color: goldenrod;
}

.link {
	color: #1a936f;
}

.thirdHeader {
	color: #0496ff;
}