body {
	background: #fefefe;
	color: #333;
}

.about {}

.about__header {
	color: #1460aa;
}

.about__paragraph {
	color: darkblue;
	padding: 16px;
}

.about__link {
	color: #1a936f;
}

.diary__header {
	color: #1460aa;
}

.diary__link {
	color: #1a936f;
}

.diary__paragraph {
	color: darkblue;
	padding: 16px;
}

.diary__post-title {
	color: #0496ff;
}

.header {}

.heading {
	color: #00487c;
	margin-bottom: 48px;
}

.hobby {}

.hobby__element {}

.hobby__header {
	color: #1460aa;
}

.hobby__list {list-style: none;}


.main {
	margin: 32px auto;
	max-width: 700px;
	padding-top: 50px;
	width: 100%;
}

.navigation {
	box-sizing: border-box;
	left: 0;
	padding: 16px;
	position: fixed;
	top: 10px;
	width: 100%;
}

.navigation__link {}
.plan {}

.plan__element {}

.plan__header {
	color: #1460aa;
}

.plan__list {}

.top {
	bottom: 10px;
	color: #1a936f;
	position: fixed;
	right: 10px;
	text-decoration: none;
}