body {
	background: #fefefe;
	color: #333;
}

.mainHeader {
	color: #00487c;
	margin-bottom: 48px;
}

.sectionHeader, .diaryHeader {
	color: #1460aa;
}

p {
	color: darkblue;
}

.postHeader {
	color: goldenrod;
}

.link {
	color: #1a936f;
}

.thirdHeader {
	color: #0496ff;
}

.about {
	
}

.paragraph {
	padding: 16px;
}
.main{width: 100%;
	max-width: 700px;
	margin: 32px auto;}